<ngb-carousel [interval]="5000">
  <ng-template ngbSlide>
    <div class="divDecouvrir">
      <div class="image1">
        <img src="assets/img/slider%20pic.PNG" alt="Random first slide">
      </div>
      <div class="btnDecouvrir">
        <button (click)="navigateToStatusPage('Nouveau')"></button>
      </div>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="divPromo">
      <div class="image1">
        <img src="assets/img/code%20promo.jpg" alt="Random first slide">
      </div>
      <div class="txtPromo">
        <p>10% de réduction avec le code <span class="promo">"Sport2022"</span></p>
        <p>*Offre valable jusqu'au 30 Septembre</p>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
<div class="global">

  <div class="partiefiltres">
    <fieldset>
      <legend> Filtres</legend>
      <p>Par Produit</p>
      <ul>
        <div *ngFor="let option of this.options.types" class="p-field-checkbox">
          <p-checkbox [(ngModel)]="type"
                      (click)="loadProducts()"
                      [value]="option"
                      name="{{option}}"
                      label="{{option}}"
          ></p-checkbox>
        </div>

      </ul>
      <p>Par Couleur</p>
      <ul>
        <div *ngFor="let option of this.options.colors" class="p-field-checkbox">
          <p-checkbox [(ngModel)]="color"
                      (click)="loadProducts()"
                      [value]="option"
                      name="{{option}}"
                      label="{{option}}">
          </p-checkbox>
        </div>
      </ul>
      <p>Par Prix</p>
      <ul>
        <div>
          <p-checkbox [(ngModel)]="priceRange"
                      (click)="selectPriceRange(0,100)"
                      [value]="{min:0,max:100}" label="0-100 TND"
                      name="flexRadioDefault">
          </p-checkbox>
        </div>
        <div>
          <p-checkbox [(ngModel)]="priceRange"
                      (click)="selectPriceRange(101,200)"
                      [value]="{min:101,max:200}"
                      label="101-200 TND"
                      name="flexRadioDefault">
          </p-checkbox>
        </div>
        <div>
          <p-checkbox [(ngModel)]="priceRange"
                      (click)="selectPriceRange(201,300)"
                      [value]="{min:201,max:300}"
                      label="201-300 TND"
                      name="flexRadioDefault">
          </p-checkbox>
        </div>
        <div>
          <p-checkbox [(ngModel)]="priceRange"
                      (click)="selectPriceRange(301,null)"
                      [value]="{min:301,max:null}"
                      label="+300 TND"
                      name="flexRadioDefault">
          </p-checkbox>
        </div>
      </ul>

      <button (click)=" resetFilter()" pButton label="Reset Filters" class="btnFilter"></button>
    </fieldset>


  </div>

  <div class="partieImg">
    <div class="title-category">
      <h1> {{displayCategory()}} </h1>
    </div>

    <p-dataView [value]="products"
                [paginator]="true"
                [lazy]="true "
                (onLazyLoad)="loadProducts($event)"
                [first]="first"
                [rows]="limit"
                [totalRecords]="totalRecords"
                layout="grid">
      <ng-template pTemplate="header">

        <div class="flex flex-row md:flex-row md:justify-content-between">
          <p-dropdown [(ngModel)]="sortDirection"
                      [options]="sortOptions"
                      (onChange)="loadProducts()"
                      [showClear]="true"
                      placeholder="Trier par"
                      styleClass="mb-2 md:mb-0">
          </p-dropdown>
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>

      </ng-template>

      <ng-template let-product pTemplate="gridItem"   >
        <div class="col-3 md:col-3 " >
          <app-product-tile [product]="product" view="gridItem"></app-product-tile>
        </div>
      </ng-template>

      <ng-template let-product pTemplate="listItem" >
        <div class="col-12 md:col-12">
          <app-product-tile [product]="product" view="listItem"></app-product-tile>
        </div>
      </ng-template>
    </p-dataView>
  </div>

</div>






