.global{

  display: flex;
  flex-direction: row;
  width: 95%;
  margin: auto;


}
.partiefiltres{

  width: 20%;
}
.partieImg{
  width: 80%;
  padding-top: 0px;
}
fieldset, legend {
  all: revert;
}
legend{
  font-size: 33px;
  margin:10px;
}
fieldset{

  border: solid black ;
  margin-bottom: 5px;
  height: 93%;
  margin-top:63px

}

ul {
  list-style-type: circle;
  margin-left: 10%;
}
.partiefiltres p{
  margin-left: 5%;
  font-weight: bold;

}
ul label{
  margin-left: 20px;
  text-transform: capitalize;
  font-size: 18px;
}
.p-input-icon-left {

  left: -80px;
}
.p-input-icon-left input{
width: 450px;

}

.image1 img{
  width: 95%;
  height: 350px;
 }
 .image1{
    text-align: center;
    left:0;
    width: 100%;
    }
 .divPromo{
    position:relative;
    height: 350px;
 }
 .divPromo div{
 position:absolute;
 }
 .txtPromo{
    left:65px;
    top:240px;
 }
 .promo{
    color:white;
 }
 p{
    font-family: Comic Sans MS;
    font-size: 25px;
    font-weight:500;
 }
 .divDecouvrir div{
    position:absolute;
    }
 .divDecouvrir{
    position:relative;
    height: 350px;

 }
.btnDecouvrir{
    left:483px;
    top:235px;
}
.btnDecouvrir button{
    width: 350px;
    height: 25px;
    background-color:transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}


 form{
    margin:auto;
    width: 100%;
 }
 .p-carousel{
    width: 70%;
 }
 img{
    width:180px;
    height:170px;
 }
 .title{
    text-align: center;
 }
h1{
 margin-top: 20px;
 cursor: pointer;
}

fieldset .p-button {
  position: relative;
  width: 60%;
  border-radius: 20px;
  margin-left: 50px;
  margin-top: 40px;
}
.title-category h1{
    text-decoration: none;
    text-align: center;
    margin: 20px 0px 0px ;
}





