
.image1 img{
    width: 95%;
    height: 350px;
   }
   .image1{
      text-align: center;
      left:0;
      width: 100%;
      }
   .divPromo{
      position:relative;
      height: 350px;
   }
   .divPromo div{
   position:absolute;
   }
   .txtPromo{
      left:65px;
      top:240px;
   }
   .promo{
      color:white;
   }
   p{
      font-family: Comic Sans MS;
      font-size: 30px;
      font-weight:500; 
   }
   .divDecouvrir div{
      position:absolute;
      }
   .divDecouvrir{
      position:relative;
      height: 350px;
        
   }
   .btnDecouvrir{
      left:483px;
      top:235px;
   }
   button{
      width: 350px;
      height: 25px;
      background-color:transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;        
   }
   form{
      margin:auto;
      width: 100%;
   }
   .p-carousel{
      width: 70%;
   }
   img{
      width:180px;
      height:170px;
   }
   .title{
      text-align: center;
   }
  h1{
   margin-top: 20px;
   cursor: pointer;
  }
.title{
    margin-top:50px;
    margin-bottom:40px;
    text-align: center;
  
}
h1{
    font-weight: bold;
  
    text-decoration: underline;
  }
  
img {
    width: 180px;
    margin: 2rem 0;
    height: 200px;
    
}
.productTiles{
    width: 100%;
    text-align: center;
    border: none;

}
div{
    border: none;
}
p{
    font-size: 24px;
    font-weight: bold;
}

 .p-input-icon-left input{
 width: 450px;
   
 }
.titleCategory h1{
   text-decoration: none;
   text-align: center;
   margin: 20px 0px 0px ;
}
