.container4 {
    width: 100%;
    margin-bottom: 50px;

}

.container4 .container5 {
    margin: auto;
    width: 95%;
    height: 300px;
    background-color: white;
    margin-bottom: 50px;
    border: solid black;

}

.container5 div {


    border: none;
    margin: 5px;
}

.container5 {
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: black;
}

table {
    margin: 10px 35px;
    width: 85%;
}

td {
    border: solid black 2px;
    font-size: 22px;
    padding: 4px 15px;
    font-weight: 500;
}

th {
    color: red;
    font-size: 30px;
    padding-bottom: 10px;
    padding-left: 12px;
}

.Services {
    position: relative;
    width: 18%;

}

.OurContact {
    width: 25%;
    display: flex;
    flex-direction: column;
}


.OurContact {
    right: 0;
}

.OurContact div {

    background-color: white;
}

.contacts {
    padding-bottom: 30px;
}

.contacts p {
    position: relative;
    color: red;
    font-size: 30px;
    font-weight: 700;
    top: 15px;
    left: 50px;
}

.SocialMedia {
    display: flex;
    flex-direction: row;
    height: 20%;

}

.rightImg {
    text-align: right;
    position: relative;
    right: 5px;
}

.leftImg {
    text-align: left;
    position: relative;
    left: 5px;
}

.img1 {
    width: 70px;
    height: 40px;
}

.img2 {
    width: 60px;
    height: 50px;
}

.img3 {
    width: 50px;
    height: 40px;
}

.img4 {
    width: 60px;
    height: 30px;
}


.rightImg {
    width: 55%;
}

.OurContact {


    width: 15%;
}


.footer {
    padding: 2px;
    width: 64%;

    display: flex;
    flex-direction: column;
}

.spnsor {
    height: 60%;
    width: 100%;
}

.spnsor img {
    width: 100%;
    height: 100%;
}


.payment {
    height: 40%;
    display: flex;
    flex-direction: row;

    width: 100%;

}

.payment div {
    text-align: center;

}

.txtpayment {
    position: relative;
    width: 35%;
    display: flex;
    justify-content: fex-end;
}

.txtpayment p {
    color: red;
    font-size: 30px;
    font-weight: bold;
}

.Imgpayment {
    width: 65%;

}

.Imgpayment img {
    width: 100%;
    height: 100%;
    position: relative;
    top: -20px;
}

* {
    box-sizing: border-box;
}

.container1 {
    overflow: auto;
    margin-top: 15px;

}

.clear {
    clear: both;
}

.headPage div {
    float: left;


}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 49px;
    text-align: left;
    color: black;
    font-weight: bold;
    position: relative;
    width: 100%;
    padding: 0px 4px;
    margin: 0px 8px;
    text-shadow: 0px 3px 2px rgba(150, 150, 150, 1);

}

#rechercheBar {
    position: relative;
    width: 200px;
    height: 30px;
    margin: auto;
    border: solid black 2px;
    border-radius: 5px 0px 0px 5px;
    left: 0px;
    margin: 0px;
}

.searchIcon {
    position: relative;
    margin: 20px -2px;
    border: solid black 2px;
    border-radius: 0px 5px 5px 0px;
    left: 0px;
    height: auto;
}

select {

    width: 200px;
    font-weight: bold;
    text-align: right;
    border: solid black 5px;
    font-size: 20px;
    position: relative;
    margin-right: 15px;
    margin-top: 5px;
    height: 45px;
    text-align: center;
    padding-bottom: 7px;


}

.shoppingIcon {
    position: relative;
    zoom: 1.5;
    cursor: pointer;
}

.research input[type=text] {
    padding: 10px;
    font-size: 17px;
    float: left;
    width: 600px;
    background: #f1f1f1;
    border: solid black 4px;
    border-radius: 8px 0px 0px 8px;
    height: 45px;


}

.research button {
    float: left;
    width: 40px;

    background: white;
    color: black;
    font-size: 17px;
    border: 1px solid grey;
    border: solid black 4px;
    border-left: none;
    cursor: pointer;
    border-radius: 0px 8px 8px 0px;
    height: 45px;

    margin: 0px -2px;
}

.research::after {
    content: "";
    clear: both;
    display: table;
}

.Search {
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 10px;


}


.title {
    position: relative;
    width: 30%;

}

.selectLangage {
    position: relative;

    display: flex;
    justify-content: right;
    padding: 0;
    margin-top: 10px;

    margin-top: 5px;
    width: 20%;
}

a {
    color: black;
    margin: 10px 20px;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;


}

.categorie {
    text-align: center;
    margin: 20px 0;
}

.connection {
    display: flex;
    justify-content: right;
    margin: 0px 4px;

}

span {
    padding-right: 7px;
    font-weight: bold;
    font-size: 30px;
    margin-right: 20px;
    margin-left: 13px;
    cursor: pointer;


}

.imageShopping {
    width: 40px;
    position: relative;
    top: -3px;
    margin-right: 20px;
    cursor: pointer;
}

.connection {
    margin-right: 18px;


}

.mat-icon {
    font-size: 40px;
    height: 30px;
    width: 50px;
    height: 40px;

}

.logout {
    cursor: pointer;
}

h1 {
    cursor: pointer;
}

.container4 {
    margin-top: 30px;
}

:host ::ng-deep .p-badge {
    position: relative;
    left: -50px;
    top: -20px;
    zoom: 0.65;
}
