<div class="container1" *ngIf="headerVisibility===true || username !== undefined">
  <div class="headPage">
    <div class="title">
      <h1 (click)="navigateToHomePage()"> Boutique de sport </h1>
    </div>
    <div class="Search">
      <div>
        <form class="research">
          <input type="text" name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>

    <div class="selectLangage">

      <select name="langage" id="language">
        <option value="Français">Français</option>
        <option value="Anglais">Anglais</option>
      </select>
      <label for="language" class="shoppingIcon">
        <img src="assets/img/panier.PNG" alt="" class="imageShopping" (click)="navigateToCart()">
        <p-badge *ngIf="getCartBadge()>0" [value]="getCartBadge().toString()" styleClass="p-mr-2" ></p-badge>
      </label>
    </div>
    <p class="clear"></p>
  </div>
  <div class="connection">
    <mat-icon (click)="navigateToLoginPage()">perm_identity</mat-icon>
    <span (click)="navigateToLoginPage()">{{loginButtonCaption()}}</span>
    <mat-icon class="logout" aria-hidden="false" [style.visibility]="iconLogoutVisibility" (click)="logout()">logout
    </mat-icon>
  </div>
  <div class="categorie">
    <a (click)="navigateToHomePage()">Accueil</a>
    <a (click)="navigateToCategoryPage('femme')">Femmes</a>
    <a (click)="navigateToCategoryPage('homme')">Hommes</a>
    <a (click)="navigateToCategoryPage('enfant')">Enfants</a>
    <a (click)="navigateToCategoryPage('accessoire');">Accessoires</a>
  </div>
</div>

<router-outlet></router-outlet>

<div class="container4" *ngIf="headerVisibility===true || username !== undefined">
  <div class="container5">
    <div class="Services">
      <table>
        <tr>
          <th>Nos Services</th>
        </tr>
        <tr>
          <td>Nos magasins</td>
        </tr>
        <tr>
          <td>FAQ</td>
        </tr>
        <tr>
          <td>Echanges</td>
        </tr>
        <tr>
          <td>Contactez-nous</td>
        </tr>
      </table>
    </div>

    <div class="footer">
      <div class="spnsor">
        <img src="assets/img/brands.PNG" alt="" class="rightImg">
      </div>
      <div class="payment">
        <div class="txtpayment">
          <p>Moyens de Paiement</p>
        </div>
        <div class="Imgpayment">
          <img src="assets/img/payment.PNG" alt="" class="leftImg">
        </div>
      </div>
    </div>

    <div class="OurContact">
      <div class="contacts">
        <p>Nos Contacts</p>
      </div>
      <div class="SocialMedia">
        <div class="rightImg">
          <img src="assets/img/logo%20instagram.jpg" alt="" class="img1">
        </div>
        <div class="leftImg">
          <img src="assets/img/logo%20facebook.jpg" alt="" class="img2">
        </div>
      </div>
      <div class="SocialMedia">
        <div class="rightImg">
          <img src="assets/img/logo%20skype.png" alt="" class="img3">
        </div>
        <div class="leftImg">
          <img src="assets/img/logo%20gmail.png" alt="" class="img4">
        </div>
      </div>
    </div>
  </div>
</div>
